@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.navbar{
  background-color: rgb(64, 64, 64);
}

.veryWeak {
  color: white;
  background: #e74c3c;
}
.weak {
  color: white;
  background: #e67e22;
}
.moderate {
  color: white;
  background: #f1c40f;
}
.strong {
  color: white;
  background: #2ecc71;
}
.veryStrong {
  color: white;
  background: #27ae60;
}